.report-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.report-section {
    flex-grow: 1;
}

.content {
    display: flex;
    justify-content: center;
}

.report-iframe {
    border: unset;
    width: 100%;
    max-width: 40rem;

    aspect-ratio: 1 / 1.4142;
}
